## Velocity treats double hashes as comments, so $H can be used instead
#set( $H = '#' )
# Goals

This plugin has two goals:

- [jpackage:jpackage][jpackagemojo] is not bound to any phase within the Maven
lifecycle and is therefore is not automatically executed, therefore
the required phase must be specified explicitly.

- [jpackage:help][helpmojo] display help information on the plugin.

[jpackagemojo]: jpackage-mojo.html
[helpmojo]: help-mojo.html
