<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2020 - 2024 Alexander Kapitman

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<configuration>
  <property name="LOG_PATTERN"
      value="%d{dd-MM-yyyy HH:mm:ss} [%-5p] %c{1}:%L - %m%n" />
  <property name="LOG_PATTERN_COLORED"
      value="%d{dd-MM-yyyy HH:mm:ss} %highlight([%-5p]) %yellow(%c{1}):%L - %green(%m%n)" />
  <property name="LOG_PATH" value="./log" />
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN_COLORED}</pattern>
    </encoder>
  </appender>
  <appender name="ROLLING_FILE"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/console.log</file>
    <rollingPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/console.%d{dd-MM-yyyy}-%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>    
      <maxHistory>5</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>        
    </rollingPolicy>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <root level="error" additivity="false">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="ROLLING_FILE" />
  </root>
  <!--
  <logger level="debug" additivity="true"
      name="ru.akman.launcher.Launcher">
    <appender-ref ref="CONSOLE" />
  </logger>
  -->
</configuration>
